---
import Header from "./Header.svelte";
import Sidebar from "./Sidebar.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Programming assignments</title>
  </head>
  <body>
    <Header client:only={"svelte"} />
    <div class=""> {/*removed mx-auto*/}
      <div class="flex flex-row">
        <div class="bg-gray-50 basis-1/6">
          <!-- This is the sidebar! -->
          <Sidebar client:only={"svelte"}/>
        </div>
        <div class="basis-5/6 pl-20 pr-20 mr-40">
          <!-- This is the main page! -->
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
