---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<!-- TODO: Make sidebar dynamic -->

<div class="text-lg font-semibold">
    <a class={currentPath === "" ? "text-blue-600" : ""} href="/"><p class="hover:bg-gray-200 pl-2 pb-0.5">Assignment 1</p></a>
    <a class={currentPath === "assignment-2/" ? "text-blue-600" : ""} href="/assignment-2/"><p class="hover:bg-gray-200 pl-2 pb-0.5">Assignment 2</p></a>
    <a class={currentPath === "assignment-3/" ? "text-blue-600" : ""} href="/assignment-3/"><p class="hover:bg-gray-200 pl-2 pb-0.5">Assignment 3</p></a>
</div>
